@import "tailwindcss";

/* default dark */
:root {
  --color-black: #222222;
  ---color-white: #fdfdfd;

  --color-bg: #141414;
  /* fallback bg color */
  --color-primary: var(--color-white);
  --color-secondary: var(--color-black);

  --bg-image: url('/dark-background.png');
  /* <-- dark mode background */
}

[data-theme='light'] {
  --color-bg: var(--color-white);
  --color-primary: var(--color-black);
  --color-secondary: var(--color-white);

  --bg-image: url('/light-background.png');
  /* <-- light mode background */
}

* {
  margin: 1px dotted red;
}

body {
  margin: 0;
  padding: 0;

  color: var(--color-primary);
  background-image: var(--bg-image);
  background-size: cover;
  /* make it cover entire viewport */
  background-position: center;
  /* center the image */
  background-repeat: no-repeat;
  /* transition: background-image 0.3s ease, color 0.3s ease; smooth theme change */
}

/* NOTE: Let's try use @layer so we can reuse style */

@layer components {
  .glass {
    background-color: color-mix(in srgb, var(--color-primary) 5%, transparent);

    background-image:
      linear-gradient(to bottom,
        rgba(255, 255, 255, 0.25) 0%,
        rgba(255, 255, 255, 0.12) 80%,
        rgba(255, 255, 255, 0) 90%),
      linear-gradient(to bottom,
        rgba(255, 255, 255, 0.15) 0%,
        rgba(255, 255, 255, 0) 70%);

    backdrop-filter: blur(1px);
    border: 1px solid rgb(245 245 245 / 0.1);
  }
}

.wave {
  display: inline-block;
  transform-origin: 70% 70%;
  /* pivot near bottom-left */
  animation: wave 1.5s ease-in-out infinite;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  /* Make it wave every 5 seconds */
  animation-name: wave;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

/* Keyframes: rotate + slight scale */
@keyframes wave {
  0% {
    transform: rotate(0deg) scale(1);
  }

  5% {
    transform: rotate(14deg) scale(1.1);
  }

  10% {
    transform: rotate(-8deg) scale(1.05);
  }

  15% {
    transform: rotate(14deg) scale(1.1);
  }

  20% {
    transform: rotate(-4deg) scale(1.05);
  }

  25% {
    transform: rotate(10deg) scale(1.1);
  }

  30% {
    transform: rotate(0deg) scale(1);
  }

  35% {
    transform: rotate(0deg) scale(1);
  }
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(6px); }
}

.animate-float {
  animation: float 2.8s ease-in-out infinite;
}