@import "tailwindcss";

/* default dark */
:root {
  --color-black: #222222; /* Carbon Black*/
  ---color-white: #fdfdfd;

  --color-bg: var(--color-black);
  --color-primary: var(---color-white);
  --color-secondary: var(--color-black);
}

[data-theme='light'] {
  --color-bg: var(--color-white);
  --color-primary: var(---color-black);
  --color-secondary: var(--color-white);
}

body {
  margin: 0;
  padding: 0;
}

/* NOTE: Let's try use @layer so we can reuse style

Example:

@layer components {
  .card {
    background-color: var(--color-white);
    border-radius: var(--radius-lg);
    padding: --spacing(6);
    box-shadow: var(--shadow-xl);
  }
}
*/